DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://user:password@localhost:5432/bengaluru_lakes"
JWT_SECRET="your-jwt-secret-key-at-least-32-chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_MAP_TILE_URL="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
